* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

header,
.top {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #e07400;
}

nav ul,
.top ul,
.bottom ul {
  display: flex;
  list-style: none;
  gap: 20px;
  list-style: none;
}

nav a,
.top a,
.bottom a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
}

nav a[aria-current="page"],
nav a:hover,
.top a[aria-current="page"],
.top a:hover,
.bottom a[aria-current="page"],
.bottom a:hover {
  border-bottom: 2px solid #e07400;
}

input[type="search"] {
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  outline: none;
}

/* Main */

main,
.middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f9f9f9;
}

section,
aside,
.middle > div {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  border-radius: 8px;
}

h2 {
  font-size: 1.8rem;
  color: #e07400;
}

section ul,
.middle > div ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.middle > div .list {
  display: flex;
  flex-direction: column;
  list-style: disc;
}

section ul li,
.middle > div li {
  flex: 1;
}

section li button,
.middle > div button {
  margin-top: 14px;
}

section p,
aside p,
.middle > div p {
  font-style: italic;
}

aside ul,
.list {
  padding-left: 14px;
}

li img {
  width: 90%;
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #2a9d8f;
}

/* Footer */

footer,
.bottom {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

footer nav a,
.bottom > div a {
  color: #fff;
  margin: 0 10px;
}

footer p,
.bottom p {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Skip to content */

.skip-to-content {
  position: fixed;
  top: -100vh;
  background-color: #fff;
  padding: 10px;
}
.skip-to-content:focus {
  top: 20px;
}

/* Dialog */

dialog,
.dialog .content {
  position: fixed;
  padding: 30px;
  text-align: center;
  width: min(650px, 90vw);
  border: none;
  flex-direction: column;
  box-shadow: 0 0.625rem 1.875rem rgba(2, 2, 3, 0.28);
  gap: 24px;
  border-radius: 8px;
  display: none;
  background-color: #fff;
}

dialog {
  display: none;
}

dialog[open] {
  display: flex;
}

.dialog {
  display: none;
}

.open {
  display: flex;
}

.dialog.open .content {
  display: flex;
  z-index: 1;
}

.dialog::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

dialog::backdrop,
.dialog::before {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Cookie dialog */

dialog#cookie-dialog {
  margin: auto auto 8vh auto;
}

.dialog#cookie-dialog .content {
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
}

/* Ingredients dialog */

#ingredients-dialog {
  margin: auto;
}

.dialog#ingredients-dialog .content {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Button */

.secondary-button {
  padding: 8px;
  border-color: #2a9d8f;
  border-radius: 8px;
  border-style: solid;
  background-color: #fff;
}

.primary-button {
  padding: 8px;
  border-color: #2a9d8f;
  border-radius: 8px;
  border-style: solid;
  background-color: #2a9d8f;
  color: #fff;
}
